In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First six rows of gdp_df

In [2]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

First six rows of internet_df

In [3]:
internet_df = pd.read_csv('../data/internet_use.csv')
internet_df.head(6)

  Country or Area  Year        Value Value Footnotes  Unnamed: 4 Unnamed: 5
0     Afghanistan  2014         6.39             NaN         NaN        NaN
1     Afghanistan  2013          5.9             NaN         NaN        NaN
2     Afghanistan  2012  5.454545455             NaN         NaN        NaN
3     Afghanistan  2011            5             NaN         NaN        NaN
4     Afghanistan  2010            4             NaN         NaN        NaN
5     Afghanistan  2009         3.55             NaN         NaN        NaN

Rows and Columns of gdp_df

In [4]:
gdp_df.shape

(6871, 4)

Rows and Columns of internet_df

In [5]:
internet_df.shape

(4677, 6)

Data types in gdp_df

In [6]:
print(type(gdp_df))

<class 'pandas.core.frame.DataFrame'>

Data types in internet_df

In [7]:
print(type(internet_df))

<class 'pandas.core.frame.DataFrame'>

Last ten rows of gdp_df

In [8]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6861,Zimbabwe,1996,3520.430146,NaN
6862,Zimbabwe,1995,3226.413930,NaN
6863,Zimbabwe,1994,3263.934978,NaN
6864,Zimbabwe,1993,3033.504852,NaN
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,NaN,NaN,NaN,NaN
6869,footnoteSeqID,Footnote,NaN,NaN
6870,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

Last ten rows of internet_df

In [9]:
internet_df.tail(10)

,Country or Area,Year,Value,Value Footnotes,Unnamed: 4,Unnamed: 5
4667,171,Internet Dial-up customers.,NaN,NaN,NaN,NaN
4668,172,Population age 16+ using the Internet in the l...,NaN,NaN,NaN,NaN
4669,173,Population age 16+ using internet in the last ...,NaN,NaN,NaN,NaN
4670,174,"U.S. Census Bureau, Table 2. Reported Internet...",NaN,NaN,NaN,NaN
4671,175,Includes individuals 3 years and older,NaN,NaN,NaN,NaN
4672,176,NTIA/CPS survey.,NaN,NaN,NaN,NaN
4673,177,"Pew Internet Project, Internet",Broadband and cell phone statistics,” January 5,2010.0,http://www.pewinternet.org/~/media//Files/Rep...
4674,178,Estimated based on Survey's results. Populatio...,NaN,NaN,NaN,NaN
4675,179,Preliminary. Country estimate.,NaN,NaN,NaN,NaN
4676,180,The methodology used to estimated the figure f...,NaN,NaN,NaN,NaN

Drop "Value Footnotes" for gdp_df

In [10]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

Drop "Value Footnotes" in internet_df

In [11]:
internet_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

In [12]:
internet_df = internet_df.drop(columns = ['Value Footnotes', 'Unnamed: 4', 'Unnamed: 5'])

Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’

In [13]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value'], dtype='object')

In [16]:
gdp_df.columns = ['Country', 'Year', 'GDP_Per_Capita']
gdp_df

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2019     2065.036398
1       Afghanistan                                      2018     2033.779002
2       Afghanistan                                      2017     2058.383832
3       Afghanistan                                      2016     2057.062164
4       Afghanistan                                      2015     2068.265904
...             ...                                       ...             ...
6866       Zimbabwe                                      1991     3426.598094
6867       Zimbabwe                                      1990     3324.348171
6868            NaN                                       NaN             NaN
6869  footnoteSeqID                                  Footnote             NaN
6870              2  Excludes South Sudan after July 9, 2011.             NaN

[6871 rows x 3 columns]

Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’

In [15]:
internet_df.columns = ['Country', 'Year', 'Internet_Users_Pct']
internet_df

,Country,Year,Internet_Users_Pct
0,Afghanistan,2014,6.39
1,Afghanistan,2013,5.9
2,Afghanistan,2012,5.454545455
3,Afghanistan,2011,5
4,Afghanistan,2010,4
...,...,...,...
4672,176,NTIA/CPS survey.,NaN
4673,177,"Pew Internet Project, Internet",Broadband and cell phone statistics
4674,178,Estimated based on Survey's results. Populatio...,NaN
4675,179,Preliminary. Country estimate.,NaN
4676,180,The methodology used to estimated the figure f...,NaN

Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use

Look at the first five rows of your new DataFrame to confirm it merged correctly

Look at the last five rows to make sure the data is clean and as expected

Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly

Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long